

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.panel{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
}

@import '~ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/default.theme.css";

.card{
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all .2s;
  margin-bottom: 30px !important;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

 .card-header {
   display: flex;
   align-items: center;
   height: 3.5rem;
   padding: 0.75rem 1.25rem;
   margin-bottom: 0;
   color: inherit;
   background-color: #fff;
   border-bottom: 1px solid rgba(26, 54, 126, 0.125);
 }
 .card-header, .card-title {
   text-transform: uppercase;
   color: rgba(13, 27, 62, 0.7);
   font-weight: bold;
   font-size: 0.88rem;
 }
.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}
body{
  background: #F1F4F6;
    font-family: 'Roboto', sans-serif;
}
.btn{
  font-weight: 500;
}
@import "~leaflet/dist/leaflet.css";

.license-plate{
  border: 1px solid black;
  padding: 0 5px 0 18px;
  font-size: 15px;
  line-height: 25px;
  margin-right: 10px;
  border-radius: 2px;
  min-width: 110px;
  text-align: center;
  position: relative;
  display: inline-block;
}


.license-plate:before {
  background-color: #07499d;
  font-size: 8px;
  color: #fff;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15px;
  padding-top: 6px;
}
.license-plate:after, .license-plate:before {
  position: absolute;
  content: "";
}
.license-plate:before {
  content: "UA";
}
.license-plate:after {
  border-top: 3px solid #00a7ef;
  border-bottom: 3px solid #fed500;
  height: 0;
  width: 10px;
  left: 2px;
  top: 40%;
  margin-top: -5px;
}
